# Connections
CAMERA_LISTEN_HOST=0.0.0.0
CAMERA_LISTEN_PORT=30000
ENV_INFO_LISTEN_HOST=0.0.0.0
ENV_INFO_LISTEN_PORT=30001
STREAMING_PIPELINE_LISTEN_HOST=0.0.0.0
STREAMING_PIPELINE_LISTEN_PORT=31000
API_LISTEN_HOST=0.0.0.0
API_LISTEN_PORT=32000
REDIS_HOST=redis
REDIS_PORT=6379

# Settings
MAX_HEADER_LENGTH=8192
MAX_CONNECTIONS=100
MAX_PROCEDURE_STACKS=100
MAX_CAMERA_FRAME_SIZE=131072

# I/O
STDOUT=/dev/stdout

# Timezone
TIMEZONE=Asia/Tokyo

# Security
AUTH_KEY=

# Session ID
SESSION_ID=sid
SALT_KEY=Magnolia
SESSION_EXPIRES=31104000

# Validation counters
MAX_COUNT_VALIDATION_FRAME_MAGIC_BYTE=5

# SSL
SSL_ENABLE=0
SSL_CERTIFICATE_FILE=
SSL_CERTIFICATE_KEY=
SSL_ALLOW_SELF_SIGN=0
SSL_VERIFY_PEER=0
SSL_VERIFY_PEER_NAME=0
